@import url(https://fonts.googleapis.com/css?family=Rambla:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body, h1, h2, h3 {
    font-family: 'Rambla', Arial, Helvetica, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3em;
}

#header {
	background-color: #6582ba;
	background-image: url("/assets/images/noisy-grid.png");
	color: #f5f5f5;
	box-shadow: 0px 2px 10px rgba( 161, 161, 161, 0.5);
    padding: 5px;
    padding-left: 10%;
}

#header h1 {
	margin-bottom: 0;
}

#header p {
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.2em;

	margin-top: 0;
	opacity: 0.8;
}

#container {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
	padding: 1.5em 10%;
	color: #777777;
}